@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --light-mode-background: 250 250 250;
    --light-mode-foreground: 0 0 0;
    --light-mode-foreground-muted: 50 50 50;
    --light-mode-link: 79 70 229;
    --dark-mode-background: 17 17 17;
    --dark-mode-foreground: 255 255 255;
    --dark-mode-foreground-muted: 205 205 205;
    --dark-mode-link: 167 139 250;
  }

  .mono {
    font-family: "Geist Mono";
  }
}
