<section
  class="prose max-w-none dark:prose-invert prose-a:text-lightModeLink dark:prose-a:text-darkModeLink"
>
  <h2 class="mb-3 mt-8 text-lg font-bold">Introducing Astro Atomic 👾</h2>

  <p>
    Astro Atomic is a minimal theme for <a href="https://astro.build">Astro</a> with
    zero frameworks installed and search + comments built in. Head over to the <a
      href="https://github.com/superwebthemes/barebones">repository</a
    > and check out our <a href="https://barebones.superwebthemes.com"
      >documentation</a
    > to get started.
  </p>
  <h2 class="mb-3 mt-8 text-lg font-bold">Key features</h2>
  <ul>
    <li>
      <strong>Fast by default: </strong>Leverage the power of <a
        href="https://astro.build">Astro</a
      >, <a href="https://tailwindcss.com">Tailwind CSS</a>, and <a
        href="https://www.markdownguide.org">Markdown</a
      > to create fast, lightweight web pages.
    </li>
    <li>
      <strong>SEO-friendly: </strong>Sitemap, <a href="/rss.xml">RSS feed</a>,
      and <a href="https://ogp.me">Open Graph image</a> support out of the box.
    </li>
    <li>
      <strong>Best practices: </strong>Built on <a
        href="https://barebones.superwebthemes.com">Astro Barebones</a
      >. Follows industry best practices for development, ensuring high-quality,
      maintainable code.
    </li>
    <li>
      <strong>Accessible: </strong>Dark, light, and system mode support.
      Keyboard navigation and semantic HTML. Fully compliant with <a
        href="https://www.wcag.com">WCAG standards</a
      >.
    </li>
    <li>
      <strong>Free and open source: </strong><a
        href="https://github.com/trevortylerlee/astro-atomic"
        >Join the community</a
      > and contribute to make this project even better!
    </li>
  </ul>
</section>
