---
import { formatDate } from "@/lib/util";

const { post } = Astro.props;
---

<li class="flex flex-col">
  <a
    href={`/blog/${post.slug}`}
    class="group text-lightModeForeground hover:text-lightModeLink focus:text-lightModeLink dark:text-darkModeForeground dark:hover:text-darkModeLink dark:focus:text-darkModeLink"
  >
    <span class="flex items-center gap-1.5">
      <span class="font-bold">{post.data.title}</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="1em"
        height="1em"
        viewBox="0 0 24 24"
        class="invisible group-hover:visible group-focus:visible"
        ><path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 12h14m-7-7l7 7l-7 7"></path></svg
      >
    </span>
    <span
      class="block text-sm text-lightModeForegroundMuted dark:text-darkModeForegroundMuted"
    >
      {formatDate(post.data.publicationDate)}
    </span>
  </a>
</li>
